<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title|default("Blag") }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {% include 'core.css' %}
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="source" href="https://github.com/thusoy/blag">
    <link rel="alternate" href="{{ url_for('blag.blag_feed') }}" title="Recent blag posts" type="application/atom+xml">
    {% block open_graph %}
        <meta property="og:title" content="thusoy.com">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ url_for('static', filename='img/header.jpg', _external=True) }}">
        <meta property="og:url" content="https://thusoy.com">
    {% endblock %}

    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <!--[if lt IE 7]>
        <p class="msg">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header role="navigation">
        <a href="/">
            <img class="banner img-responsive" height="315" width="1000" src="{{ url_for('static', filename='img/header.jpg') }}">
        </a>
        {% if g.user.is_authenticated %}
            <span class="greeting">Hi there, {{ g.user.first_name }}!</span>
        {% endif %}
        <img class="logo img-circle" src="{{ url_for('static', filename='img/logo2.jpg') }}">
    </header>

    {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="container">
        {%- block content %}
        {% endblock %}
    </div>

    <script async src="{{ url_for('static', filename='js/main.min.js') }}"></script>

    {% block scripts %}
    {% endblock %}

    {%- if debug %}
        <script async src="http://localhost:35729/livereload.js"></script>
    {% endif -%}

    <script>
        {% include 'inline.js' %}
        loadCSS("{{ url_for('static', filename='css/styles.css') }}");
        {%- for async_stylesheet in async_stylesheets %}
        loadCSS('{{ async_stylesheet }}');
        {%- endfor %}
    </script>
    <noscript>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        {%- for async_stylesheet in async_stylesheets %}
        <link rel="stylesheet" href="{{ async_stylesheet }}">
        {%- endfor %}
    </noscript>
</body>
</html>
