{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/writeEntry.css') }}">
{% endblock %}


{% block content %}
    <section>
        <h1>Edit post</h1>

        <form method="post" action="{{ url_for('.edit_post', year=post.year, slug=post.slug) }}">

            {{ form.render() }}

            <input type="submit" class="btn btn-primary pull-right">
        </form>
    </section>
{% endblock %}


{% block scripts %}
    <script async src="{{ url_for('static', filename='js/writePost.min.js') }}"></script>
{% endblock %}
