{% extends 'base.html' %}

{% block content %}
    {%- for entry in entries %}
        <article>
            <span class="byline">{{ entry.datetime_added.strftime('%Y-%m-%d %H:%M') }}</span>

            <a href="{{ url_for('.post_details', post_id=entry.id) }}"><h1>{{ entry.title }}</h1></a>

            {% if entry.tags %}
                <p class="tagline">
                    Tagged with
                    {% for tag in entry.tags %}
                        <span class="tag">
                            {{ tag }}{{ '.' if loop.last else ', '}}
                        </span>
                    {% endfor %}
                </p>
            {% endif %}

            {{ entry.rendered_content|safe }}

        </article>
    {% endfor %}
{% endblock %}
