{% extends 'base.html' %}

{% block open_graph %}
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ post.datetime_added.isoformat() }}">
    <meta property="og:site_name" content="thusoy.com">
    <meta property="og:image" content="{{ url_for('static', filename='img/header.jpg', _external=True) }}">
    <meta property="og:url" content="{{ url_for('.post_details', post_id=post.id, _external=True) }}">
    <meta property="og:description" content="{{ description }}">
    {% for tag in post.tags %}
        <meta property="og:article:tag" content="{{ tag }}">
    {% endfor %}
{% endblock %}

{% block content %}

    <article>

        <span class="byline">{{ post.datetime_added.strftime('%Y-%m-%d %H:%M') }}</span>

        <h1>{{ post.title }}</h1>

        {{ post.rendered_content|safe }}

    </article>

{% endblock %}
