*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
node_modules
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# logs
pip-log.txt
thusoy.log

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# local stuff
venv
thusoy/static/css
.sass-cache
db.sqlite
images

# libraries
thusoy/static/libs

# built stuff
*.min.js
*.min.css
.tmp
thusoy/server-assets
