language: python

# Needed for postgres and docker stuff
sudo: required

services:
    - postgresql

addons:
    postgresql: "9.5"
    apt:
        packages:
            - postgresql-9.5-postgis-2.3

python:
  - "2.7"
  - "3.4"
  - "3.5"

before_install:
  - ./tools/travis-before-script.sh

install:
  # Install postgis in test database
  - psql postgres://postgres@localhost/travis -c "create extension postgis"

  # Piece of shit to get a correct version of node through nvm
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION

  # Get an up-to-date pip to verify hashes
  - pip install -U pip awscli
  - "pip install -r dev-requirements.txt --no-binary :all: --no-deps --require-hashes"

  # Install compass
  - gem update --system
  - gem install sass -v 3.2.13
  - gem install compass

  # Install grunt-cli and grunt
  - npm install -g grunt-cli
  - npm install

  # Install docker2aci to build ACI images
  - wget https://github.com/appc/docker2aci/releases/download/v0.17.2/docker2aci-v0.17.2.tar.gz
  - tar xf docker2aci-v0.17.2.tar.gz
  - mkdir -p ~/.local/bin
  - export PATH=$PATH:~/.local/bin
  - mv docker2aci-v017.2/docker2aci ~/.local/bin

script:
  - grunt build
  - nosetests

after_success:
  - if [[ $TRAVIS_BRANCH == 'master' ]] && [[ $TRAVIS_PULL_REQUEST == 'false' ]] && [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then
      ./build.sh
      ./tools/travis-deploy.sh;
    fi

env:
  global:
    - TRAVIS_NODE_VERSION="4"
    - DATABASE_URL='postgresql://travis@localhost/travis'

notifications:
  email: false
