.container {
  @include container;
}

.byline {
  float: right;
  font-size: 0.9em;
  color: lighten($text-color, 20%);
}

img {
  max-width: 100%;
}

.alert {
  max-width: $screen-lg;
  margin: 20px auto;
}

.greeting {
  float: left;
  margin-left: 7px;
}
