@mixin logo-size($size) {
  height: $size;
  width: $size;
  top: -($size / 2);
  margin-bottom: -($size / 2) + 10px;
}

@mixin container {
  padding: 0;
  width: 100%;
  max-width: $screen-lg;
  margin: auto auto;

  @media all and (min-width: $screen-xs) and (max-width: $screen-lg) {
    width: 95%;
  }
}

@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
//  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
