@mixin logo-size($size) {
  height: $size;
  width: $size;
  top: -($size / 2);
  margin-bottom: -($size / 2) + 10px;
}

@mixin container {
  padding: 0;
  width: 100%;
  max-width: $screen-lg;
  margin: auto auto;

  @media all and (min-width: $screen-xs) and (max-width: $screen-lg) {
    width: 95%;
  }
}
