$grid-float-breakpoint: 450px;
$background-color: #eed;
$text-color: #444;
$header-color: #333;
$logo-size-lg: 150px;
$logo-size-md: 130px;
$logo-size-sm: 110px;
$logo-size-xs: 80px;
$screen-lg: 1000px;
