/*
Core styles

The result of compiling this file will be included **inline** in the base.html template, and can thus not
be cached in any way, so this file should only contain the absolute minimum required for the page not
be totally awkward if the other stylesheets are missing or not rendered yet.

*/

// ====================================
// Bootstrap stuff to include
// ====================================

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "variables";
@import "mixins";

// Reset
//@import "bootstrap/normalize";
//@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
//@import "bootstrap/type";
//@import "bootstrap/code";
//@import "bootstrap/grid";
//@import "bootstrap/tables";
//@import "bootstrap/forms";
//@import "bootstrap/buttons";

// Components
//@import "bootstrap/component-animations";
//@import "bootstrap/glyphicons";
//@import "bootstrap/dropdowns";
//@import "bootstrap/button-groups";
//@import "bootstrap/input-groups";
//@import "bootstrap/navs";
//@import "bootstrap/navbar";
//@import "bootstrap/breadcrumbs";
//@import "bootstrap/pagination";
//@import "bootstrap/pager";
//@import "bootstrap/labels";
//@import "bootstrap/badges";
//@import "bootstrap/jumbotron";
//@import "bootstrap/thumbnails";
//@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
//@import "bootstrap/media";
//@import "bootstrap/list-group";
//@import "bootstrap/panels";
//@import "bootstrap/wells";
//@import "bootstrap/close";

// Components w/ JavaScript
//@import "bootstrap/modals";
//@import "bootstrap/tooltip";
//@import "bootstrap/popovers";
//@import "bootstrap/carousel";

// Utility classes
//@import "bootstrap/utilities";
//@import "bootstrap/responsive-utilities";

// ====================================
// Compass stuff to include
// ====================================

@import "compass/css3/filter";
@import "compass/css3/transition";

// ====================================
// Own stuff
// ====================================

@import "core";
